<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Prezentomat</title>
    @Styles.Render("~/Content/style")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="Flex-container">
        <header>
            <div class="Flex-header-logo">

                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Images/logo-prezentomat.png")" />
                </a>
                <a id="menu-button" onclick="openAndCloseNav()">☰</a>
            </div>

            <!--<div class="Flex-header-buttons">
             @Html.ActionLink("Moje zbiórki", "Index", "Gathering")
            </div>-->
            <div class="Flex-header-socials" style="justify-content: center;">
                <img src="@Url.Content("~/Images/login.png")" />
                @Html.ActionLink("Zaloguj", "Login", "User")
                <img src="@Url.Content("~/Images/add_user.png")" />
                @Html.ActionLink("Zarejestruj", "Regist", "User")
            </div>
        </header>
        <nav id="sidebar">
            <div class="Clear-flex-box-row">

                <div class="Flex-box-list-item">
                    <img src="@Url.Content("~/Images/login.png")" />
                    @Html.ActionLink("Zaloguj", "Login", "User")
                </div>

                <div class="Flex-box-list-item">
                    <img src="@Url.Content("~/Images/add_user.png")" />
                    @Html.ActionLink("Zarejestruj", "Regist", "User")
                </div>

            </div>
        </nav>
        @RenderBody()
        <footer>
            <span>&copy; @DateTime.Now.Year - WAT WCY18IJ1S1</span>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        var flag = 0;
        function openAndCloseNav() {
            if (flag == 0) {
                document.getElementById("sidebar").style.display = "block";
                flag = 1;
            }
            else{
                document.getElementById("sidebar").style.display = "none";
                flag = 0;
            }
        }
    </script>

</body>
</html>
