@model Prezentomat.Models.UserClass

@{
    ViewBag.Title = "Strona użytkownika";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var gatherings = ViewBag.gatherings;
    var size = ViewBag.size;
    var user_id = ViewBag.user_id;
}


<main>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>



        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Witaj w Prezentomacie</h1>
                    Na tej stronie możesz zarządzać zbiórkami do których masz dostęp, a także masz podgląd do swoich danych.
                    <p>
                        <div class="btn-group">
                            <div class="btn btn-sm btn-outline-secondary" style="background-color:aliceblue;color:black;text-decoration:none;">@Html.ActionLink("Stwórz zbiórkę", "Create", "Gathering")</div>
                            <div class="btn btn-sm btn-outline-secondary" style="background-color:aliceblue;color:black;text-decoration:none;">@Html.ActionLink("Przeglądaj swoje zbiórki", "Index", "Gathering")</div>
                        </div>
                    </p>
                </div>
            </div>
        </section>


        <div class="album py-5">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    @for(int i=0;i<3 && i<size;i++)
                    {
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src=@gatherings[i].gathering_image class="img-thumbnail" alt="...">

                                <div class="card-body">
                                    <h4 class="card-text">@gatherings[i].gathering_name</h4>
                                    <p class="card-text">@gatherings[i].gathering_description</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            @Html.ActionLink("Szczegóły", "Details","Gathering", new { id = gatherings[i].gathering_id }, new { @class = "btn btn-sm btn-outline-secondary" })
                                            @if (gatherings[i].creator_id == user_id)
                                            {
                                                @Html.ActionLink("Edytuj", "Edit", "Gathering", new { id = gatherings[i].gathering_id }, new { @class = "btn btn-sm btn-outline-secondary" })
                                            }
                                        </div>
                                        <small class="text-muted">@gatherings[i].finish_date.ToString("dd/MM/yyyy")</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <dl class="Flex-box-col">
            <h3>Twoje dane</h3>


            <dt>Email</dt>
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
            <dt>Imię</dt>
            <dd>
                @Html.DisplayFor(model => model.firstname)
            </dd>
            <dt>Nazwisko</dt>
            <dd>
                @Html.DisplayFor(model => model.lastname)
            </dd>

            <dt>Data urodzenia</dt>
            <dd>
                @Html.DisplayFor(model => model.birthdate)
            </dd>

            <dt>Portfel</dt>
            <dd>
                @Html.DisplayFor(model => model.wallet)
            </dd>

            @Html.ActionLink("Edytuj swoje dane", "Edit", new { id = Model.user_id }, new { @class = "btn btn-sm btn-outline-secondary" })



        </dl>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</main>

