@model Prezentomat.Models.UserClass
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<main>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="Clear-flex-box-row">
            <div class="Flex-box-col">


                Email
                <div class="Clear-flex-box-col">
                    <div class="Flex-box-input">
                        <img src="~/Images/at.png" />
                        @Html.TextBoxFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                Hasło
                <div class="Clear-flex-box-col">
                    <div class="Flex-box-input">
                        <img src="~/Images/padlock.png" />
                        @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="Flex-box-checkbox">
                    @Html.CheckBox("isActive", false)
                    Zapamiętaj mnie!
                </div>
                <br>
                <input type="submit" value="Zaloguj" style="border: 1px solid; border-radius: 15px" />

                @*@Html.ValidationSummary(false, "")*@
                @Html.ValidationMessageFor(m => m.email, "", new { @class = "validation-summary-errors" })

            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

