@model Prezentomat.Models.AddGatheringModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<main>
    <body>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="Clear-flex-box-row">
            <div class="Flex-box-col">
                <h2>Stwórz zbiórke</h2>

                Oczekiwana kwota
                <div class="Clear-flex-box-col">
                    <div class="Flex-box-input">
                        <img src="~/Images/cash.png" />
                        @Html.EditorFor(model => model.target_amount, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                Data końca zbiórki
                <div class="Clear-flex-box-col">
                    <div class="Flex-box-input">
                        <img src="~/Images/data.png" />
                        @Html.EditorFor(model => model.finish_date, new { htmlAttributes = new { @class = "form-control" } })
                        <br>

                    </div>
                </div>

                Nazwa zbiórki
                <div class="Clear-flex-box-col">
                    <div class="Flex-box-input">
                        <img src="~/Images/name.png" />
                        @Html.EditorFor(model => model.gathering_name, new { htmlAttributes = new { @class = "form-control" } })
                        <br>

                    </div>
                </div>

                Opis zbiórki
                <div class="Clear-flex-box-col">
                    <div class="Flex-box-input">
                        <img src="~/Images/birthday.png" />
                        @Html.EditorFor(model => model.gathering_description, new { htmlAttributes = new { @class = "form-control" } })
                        <br>

                    </div>
                </div>


                @{ var imagePath = "";
                    if (Request["photoChoice"] != null)
                    {
                        imagePath = @"https://iv.pl/images/" + Request["photoChoice"];
                    }
                }
                <body>
                    <form method="post" action="">
                        <div>
                            Wybierz:

                            <select name="photoChoice">
                                <option value="f8f3c66c57163586ed870009cf4a3ec3.md.jpg">Komputer</option>
                                <option value="37a4f4a8280b214557d7c05f3d7a76d2.md.jpg">Happy Birthday</option>
                                <option value="2133f38b54f78853b5e9848422e7e434.jpg">Podróż</option>
                                <option value="5a44dd8d3f705370964f43de9b02a000.md.jpg">Urodziny Taty</option>
                                <option value="6b4cf546e0f5c41a898e6e6a6b8a2328.png">Urodziny Mamy</option>
                                <option value="e0d00e943197121d362a44d82507678d.md.jpg">Rower</option>
                                <option value="ba7eacee9938e52d08015f9035ffbd16.jpg">Telefon</option>



                            </select> <input type="submit" value="Pokaż" />
                            &nbsp;
                        </div>
                        <div style="padding:10px;">
                            @if (imagePath != "")
                            {
                                <img src="@imagePath" alt="Sample Image" width="200px" height="200" />
                            }
                        </div>
                    </form>
                </body> 


                <input type="submit" value="Stwórz" style="border: 1px solid; border-radius: 15px" />
                <br>
                @Html.ValidationMessageFor(model => model.target_amount, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.finish_date, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.gathering_name, "", new { @class = "text-danger" })
            </div>
        </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </body>
</main>
</html>