@model Prezentomat.Models.AddGatheringModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<main>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="Clear-flex-box-row">


            <div class="Flex-box-col">
                Nazwa zbiórki
                <div class="Clear-flex-box-col">
                    <div class="Flex-box-input">
                        <img src="~/Images/fundName.png" />
                        @Html.TextBoxFor(model => model.gathering_name)
                    </div>

                </div>

                Kwota cel
                <div class="Clear-flex-box-col">
                    <div class="Flex-box-input">
                        <img src="~/Images/fundraise.png" />
                        @Html.TextBoxFor(model => model.target_amount)
                    </div>

                </div>

                Data zakończenia zbiórki
                <div class="Clear-flex-box-col">
                    <div class="Flex-box-input">
                        <img src="~/Images/calendar.png" />
                        @Html.TextBoxFor(model => model.finish_date)
                    </div>

                </div>


                <br>
                <input type="submit" value="  Stwórz  " style="border: 1px solid; border-radius: 15px" />
                <input type="button" value="Powrót" onclick="location.href='@Url.Action("Index", "User")'" style=" border: 1px solid; border-radius: 15px" />

                @Html.ValidationSummary(false, "")


            </div>
        </div>
    }

</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}