@model Prezentomat.Models.GatheringClass

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var wplaty = ViewBag.wplaty;
    var size = ViewBag.size;
    var gathering_id = ViewBag.gathering_id;
    var creator = ViewBag.creator;
    var wallet = ViewBag.wallet;
    var in_out = ViewBag.in_out;
    var errorMessage = ViewBag.ErrorMessage;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Features-Clean.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
</head>
<main>
    <body>
        <section class="features-clean">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">@Html.DisplayFor(model => model.gathering_name)</h2>
                    <p class="text-center">opis zbiórki</p>
                </div>
                <div class="row features">

                    <div class="col-sm-6 col-lg-4 item">
                        <i class="fa fa-gift icon"></i>
                        <h3 class="name">Cel zbiórki</h3>
                        <p class="description">zdjecie prezentu</p>
                    </div>

                    <div class="col-sm-6 col-lg-4 item">
                        <i class="fa fa-euro icon"></i>
                        <h3 class="name">Oczekiwana kwota</h3>
                        <p class="description">@Html.DisplayFor(model => model.target_amount)</p>
                    </div>

                    <div class="col-sm-6 col-lg-4 item">
                        <i class="fa fa-calendar-times-o icon"></i>
                        <h3 class="name">Data końca zbiórki</h3>
                        <p class="description">@Html.DisplayFor(model => model.finish_date)</p>
                    </div>

                    <div class="col-sm-6 col-lg-4 item">
                        <i class="fa fa-pie-chart icon"></i>
                        <h3 class="name">Zebrana kwota</h3>
                        <p class="description">@Html.DisplayFor(model => model.current_amount)</p>
                    </div>

                    @if (creator)
                    {
                        <div class="col-sm-6 col-lg-4 item">
                            <i class="fa fa-user-plus icon"></i>
                            <h3 class="name">Dodaj użytkownika</h3>
                            <p class="description"></p>
                            <button class="btn btn-primary" type="button" style="width:100%;border:1px solid;border-radius:15px;text-decoration:none;">
                                @Html.ActionLink("Dodaj", "AddUser", new { id = gathering_id }, new { @type = "number", @class = "span4", @min = "0", @Value = "0", Style = "color: white;text-decoration:none;" })
                            </button>
                        </div>

                        <div class="col-sm-6 col-lg-4 item">
                            <i class="fa fa-user-plus icon"></i>
                            <h3 class="name">Edytuj szczegóły</h3>
                            <p class="description"></p>
                            <button class="btn btn-primary" type="button" style="width:100%;border:1px solid;border-radius:15px;">

                                @Html.ActionLink("Edytuj", "Edit", new { id = gathering_id }, new { @type = "number", @class = "span4", @min = "0", @Value = "0", Style = "color: white;text-decoration:none;" }@*,   new { @class = "btn btn-sm btn-outline-secondary" }*@)

                            </button>
                        </div>
                    }

                    <div class="col-sm-6 col-lg-4 item">
                        <i class="fa fa-list-ul icon"></i>
                        <h3 class="name">Wpłaty</h3>
                        <ul>
                            @for (int i = 0; i < size; i++)
                            {
                                <li>@wplaty[i]</li>
                            }

                        </ul>
                    </div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                <div class="col-sm-6 col-lg-4 item">
                    <i class="fa fa-line-chart icon"></i>
                    <h3 class="name">Dokonaj wpłaty/wypłaty na zbiórke</h3>
                    <p class="description"> Możesz wypłacić tylko pieniądze, które sam wpłaciłeś na zbiórkę. @errorMessage</p>
                    @Html.TextBoxFor(m => wallet, new { @type = "number", @class = "span4", @min = "0", @Value = "0", Style = "background: #cccccc; border:1px solid black; color: black;" })<br /><br>
                    Wpłać @Html.RadioButtonFor(m => in_out, "Wpłać")
                    &nbspWypłać @Html.RadioButtonFor(m => in_out, "Wypłać")<br />
                    <input class="btn btn-primary" type="submit" value="Wpłać/Wypłać" style="width:100%;border:1px solid;border-radius:15px;">
                </div>
                    }


                    

                </div>
            </div>
        </section>
        <script src="~/Scripts/jquery-3.4.1.min.js"
        <script src="~/Scripts/bootstrap.min.js"
    </body>
    </main>
</html>
