@model IEnumerable<Prezentomat.Models.GatheringClass>

@{
    ViewBag.Title = "Gathering";
}

<h2>Aktywne zbiórki</h2>

<b>To tylko strona testowa, żeby sprawdzić, czy baza danych działa</b>

<p>
    @Html.ActionLink("Dodaj zbiórkę", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.target_amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.finish_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.target_amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finish_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.current_amount }) |
            @Html.ActionLink("Details", "Details", new { id=item.current_amount }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.current_amount })
        </td>
    </tr>
}

</table>
