@model IEnumerable<Prezentomat.Models.GatheringClass>

@{
    ViewBag.Title = "Strona główna";
}

<h2>Aktywne zbiórki</h2>
<p>
   <b>

        Strona testowa, nie będzie tak finalnie wyglądała 

   </b>
    @{ 
        var maxZbiorka = ViewBag.Zbiorka;
    }

    Największa zbiórka:
    @maxZbiorka

</p>

<p>
    @Html.ActionLink("Dodaj nową zbiórkę", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.target_amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.finish_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.target_amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finish_date)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.current_amount }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.current_amount }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.current_amount })
        </td>
    </tr>
}

</table>
